
= simple_form_for @post do |f|
	= f.text_field :title
	= f.text_area :body
	%br
	%br
	= f.file_field :image
	%br
	%br
	- if !@post.image_file_name.blank?
		= image_tag @post.image.url(:thumb)
			
	%br
	= f.button :submit

