<header class="masthead" <% if !current_user.timeline.blank? %> style="background: url(<%= current_user.timeline.url %>) no-repeat;background-size: 100% " <% else %> style="background: url(<%= image_path('home.png') %>) no-repeat;background-size: 100% " <% end %>>
      <div class="overlay"></div>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            <div class="site-heading">
              <h1>My Posts</h1>
              <span class="subheading">Your created posts</span>
            </div>
            <div id="profile">
            <img <% if !current_user.timeline.blank? %> src=<%= current_user.avatar.url(:thumb) %> <% else %> src=<%= image_path('default-missing.jpg') %> <% end %> style="width:100%;height:100%">
          </div> 
          </div>
        </div>
      </div>
    </header>
<div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">

 

<% @posts.each do |post| %>
	<div class="post-preview">
		<h2 class="post-title"> <%= link_to post.title, post %></h2>
		
		<h3 class="post-subtitle" > <%= sanitize(post.body.slice(0..50), :tags=>[]) %></h3>
		<% if !post.image_file_name.blank? %>
			<p><%= image_tag post.image.url(:thumb) %></p>
		<% end %>
		<p class="post-meta"> <%= time_ago_in_words(post.created_at) %> ago </p>
	</div>
	<hr>
<% end %>
<!-- Pager -->
<div id="outer" style="width:100%">         
<div id="inner" >
  <%= will_paginate @posts,:page_links => false,:previous_label=>"Previous", :next_label=>"Next" %>
</div>
</div>