<header class="masthead" style="background: url(<%= image_path('home.png') %>)">
      <div class="overlay"></div>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            <div class="site-heading">
              <h1>Make a New Post</h1>
              <span class="subheading">Release your thoughts</span>
            </div>
          </div>
        </div>
      </div>
    </header>
<div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">

	<h1>Make Something</h1>

	<%= form_for :post, url: posts_path do |f| %>
		<% if @post.errors.any? %>
			<div id="errors">
				<h2><%= pluralize(@post.errors.count, "error") %> stopped this post from saving</h2> 
				<ul>
					<% @post.errors.full_messages.each do |msg| %>
						<li><%= msg %></li>

					<% end %>

				</ul>

			</div>

		<% end %>
		<p>
			<%= f.label :category %><br>
			<%= f.select :category, [ ['Science and Technology','tech'], ['Programming','prog'], ['Culture','culture'],['Sports'],['Entertainment'],['Product'],['Politics'], 'Other' ], :prompt => 'Select One Category of your post', :class => 'genForm_dropBox', class: "btn btn-primary" %>
		</p>
		<p>
			<%= f.label :title %><br>
			<%= f.text_field :title %>
		</p>

		<p>
			<%= f.label :body %><br>
			<%= f.text_area :body %>
		</p>

		<p>
			<%= f.label :image %><br>
			<%= f.file_field :image, required: false, class: "btn " %>
		</p>

		<p>
			<%= f.submit class: "btn btn-primary" %>
		</p>
	<% end %>
