<header class="masthead" <% if !@post.image_file_name.blank? %> style="background: url(<%= @post.image.url %>) no-repeat;background-size: 100% " <% end %>>
      <div class="overlay"></div>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            <div class="site-heading">
              <h1><%= @post.title %></h1>
              <h2 class="subheading"><%= sanitize(@post.body.slice(0..50), :tags=>[]) %></h2>
              <span class="meta">Posted by
                <%= @post.user.name %>
                on <%= @post.created_at.strftime("%B, %d %Y") %></span>
            </div>
          </div>
        </div>
      </div>
    </header>
<div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
	<div style="margin-top: 3%;margin-bottom: 3%;">
	<% if user_signed_in? && @post.user_id== current_user.id %>
		<%= link_to "Update", edit_post_path(@post), class: "btn btn-primary" %>
		<%= link_to "Delete", post_path(@post), method: :delete, data: { confirm: "Are you sure you want to delete? "}, class: "btn btn-primary" %>
	<% end %>
	</div>
	
	
	<h2 class="section-heading" >
		<%= @post.title %>
		
	</h2>
	<h2 style="margin-left:12%">
		By <%= @post.user.name %>
	</h2>
	<p class="date" style="margin-left:12%">
		Submitted <%= time_ago_in_words(@post.created_at) %> ago
	</p>

	<h3 id="body">
		<%= raw(@post.body) %>
	</h3>

	<p class="image">
	<% if !@post.image_file_name.blank? %>
		<%= image_tag(@post.image.url(:medium), class: "img-fluid") %>
	<% end %>
	
	</p>
	<table>
		<tr>
			<td align="center">
	<div class="fb-share-button" 
        data-href=<%= url_for(:only_path => false) %>
        data-layout="button">
    </div>
</td>
<td style="padding-top: 20px;">
    <div style="margin-left: 10px;">
    	<%= link_to "Tweet", "https://twitter.com/intent/tweet?text= #{@post.title} ", class: "twitter-share-button" %>
    </div>
   </td>
  </tr>
</table>

	<hr style="margin-bottom: 5%;">
	<!--<div id="comments">
		<h2><%= @post.comments.count %> Comments</h2>
		<%= render @post.comments %>
		<% if !current_user.blank? %>
			<%= render "comments/form" %>
		<% end %>
	</div>
-->
	<%= render('disqus') %>

	
