<!DOCTYPE html>
<html>
  <head>
    <title>Your Board</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>    
  </head>

  <body>
    <div id="fb-root" data-turbolinks-permanent ></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = 'https://connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v3.0';
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<script>window.twttr = (function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0],
    t = window.twttr || {};
  if (d.getElementById(id)) return t;
  js = d.createElement(s);
  js.id = id;
  js.src = "https://platform.twitter.com/widgets.js";
  fjs.parentNode.insertBefore(js, fjs);

  t._e = [];
  t.ready = function(f) {
    t._e.push(f);
  };

  return t;
}(document, "script", "twitter-wjs"));</script>


    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
      <div class="container">
        <%= link_to "Your Board",root_path, class: "navbar-brand" %>
        
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          Menu
          <i class="fa fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            
            
            <li class="nav-item">
              <div class="dropdown">
                <button class="dropbtn">CATEGORIES</button>
                <div class="dropdown-content">
                  <%= link_to "Science and Technology", tech_path %>
        
                  <%= link_to "Cultural", culture_path %>
                  
                  <%= link_to "Entertainment", entertainment_path %>
                  <%= link_to "Politics", politics_path %>
                  <%= link_to "Sports", sports_path %>
                  <%= link_to "Programming", programming_path %>
                  <%= link_to "Products", product_path %>
                  <%= link_to "Other", other_path %>
                  <%= link_to "All Posts", root_path %>
                </div>
              </div> 
            </li>
            <li class="nav-item">
              <%= link_to "About", about_path %>
            </li>
            
            <% if user_signed_in? %>
              <li class="nav-item"> <%= link_to "My Posts", myposts_path %></li>
              <li class="nav-item"> <%= link_to "Make Post", new_post_path %></li>
              <li class="nav-item"> <%= link_to "Edit Account", edit_user_registration_path %></li>
              <li class="nav-item"><%= link_to "Log Out",destroy_user_session_path,method: :get %> </li>
            <% else %>
              <li class="nav-item"> <%= link_to "Make Post", new_user_registration_path %></li>
              <li class="nav-item"><%= link_to "Login", new_user_session_path %> </li>
              <li class="nav-item"><%= link_to "Sign Up", new_user_registration_path %> </li>
            <% end %>


            
          </ul>
        </div>
      </div>
    </nav>

    <!-- Page Header -->
    


    

    <!-- Main Content -->
    
          
          <%= yield %>
          
        </div>
      </div>
    </div>

    <hr>

    
      <!--<div id="header">
      <% if current_page?(root_path) %>
        <p>Post Feed </p>
      <% elsif current_page?(about_path) %>
        <p>About</p>
      <% else %>
        <p>You are reading a post</p>
      <% end %>
        
      </div>-->

      <!-- for displaying errors and messages
      <% flash.each do |name,msg| %>
        <%= content_tag(:div,msg,class: "alert") %>
      <% end %>
      -->
      
    

    <!-- Footer -->
    <footer>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            <ul class="list-inline text-center">
                                         
            </ul>
            <p class="copyright text-muted">Copyright &copy; Your Board 2018</p>
          </div>
        </div>
      </div>
    </footer>
<!--   
<script src="https://www.gstatic.com/firebasejs/5.0.4/firebase.js"></script>
<script>
  // Initialize Firebase
  var config = {
    apiKey: "AIzaSyBstN9IP7KoXpOsXFQ6HHpaNhR8-HWqXCE",
    authDomain: "yourboard-1999.firebaseapp.com",
    databaseURL: "https://yourboard-1999.firebaseio.com",
    projectId: "yourboard-1999",
    storageBucket: "yourboard-1999.appspot.com",
    messagingSenderId: "864102624732"
  };
  firebase.initializeApp(config);
</script>
-->

  <!-- Bootstrap core JavaScript -->
    
    <%= javascript_include_tag "jquery.min" %>
    <%= javascript_include_tag "bootstrap.bundle.min" %>

    <!-- Custom scripts for this template -->
    <%= javascript_include_tag "clean-blog.min" %>
    
    
  </body>
</html>
